.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form {
    background-color: #efefef;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 25px;
}

.field-set {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.field-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(73, 68, 68);
}

.fields {
    padding: 7px;
    font-size: 0.8rem;
    border-radius: 7px;
    border: none;
    margin-bottom: 30px;
}

.submit-form-button {
    width: 50%;
    align-self: center;
    border-radius: 7px;
    background-color: royalblue;
    color: white;
    padding: 7px;
    border: none;
}

.submit-form-button:hover {
    filter: brightness(0.7);
}

.event-logo-container {
    padding: 10px;
}

.input-file {
    display: none;
}

.input-file-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.logo-option {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(73, 68, 68);
    margin-right: 7px;
    cursor: pointer;
}

.input-label {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: rgb(228, 228, 228);
    border: 2px dashed rgb(73, 68, 68);
    margin-right: 7px;
    cursor: pointer;
}

.eventLogo1 {
    background: no-repeat center/100% url("../../assets/eventLogo1.png");
    opacity: 0.8;
}

.eventLogo2 {
    background: no-repeat center/100% url("../../assets/eventLogo2.jpeg");
    opacity: 0.7;
}

.display-none {
    display: none;
}

.logo-selected img {
    width: 80px;
    height: 80px;
}

.delete-img-button {
    border: none;
    outline: none;
    font-size: 12px;
    width: 15px;
    height: auto;
    padding: 0;
    background-color: white;
    position: absolute;
}